:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    background-color: var(--Pale-blue);
}


.card{
    margin: 3em auto;
    background-color: #fff;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
}
.image img{
    width: 100%;
}
.info{
    width: 80%;
    margin: 2em auto;
}
h1{
    color: var(--Dark-blue);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: .5em;
}
.info > p{
    color: var(--Desaturated-blue);
    font-size: .8rem;
    text-align: center;
    margin-bottom: 2em;
}
.price{
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em 1.25em;
}
.price .left{
    display: flex;
}
.price .left .icon img{
    width: 80%;
}
.price .left .plan h3{
    color: var(--Dark-blue);
    font-size: .8rem;
    font-weight: 900;
    margin-bottom: .2em;
    margin-left: .2em;
}
.price .left .plan p{
    color: var(--Desaturated-blue);
    font-size: .8rem;
}
.price .right a{
    font-size: .75rem;
    font-weight: 700;
    color: var(--Bright-blue);
}
.price .right a:hover{
    text-decoration: none;
    color: var(--Desaturated-blue);
}
.btn{
    background-color: var(--Bright-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 2em 0;
    padding: .75em 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.btn:hover{
    background-color: var(--Desaturated-blue);
}
h3{
    color: var(--Desaturated-blue);
    font-size: .75em;
    text-align: center;
}